.item-list{
  width:440px;
  height:30px;
  background:#F0F0F0;
  border-bottom:5px solid #CCCCCC;
}

.pager{
  list-style-type:none;
  
}
.pager li{
  display:inline-block;
}

.pager-current{
  width:50px;
  height:30px;
  background:#CCCCCC;
  border-bottom:5px solid black;
  text-align:center;
  line-height:30px;
}

a{
  text-decoration:none;
  color:red;
}

.pager-item{
  width:50px;
  height:30px;
  text-align:center;
  line-height:30px;
}

.pager-next{
  margin-left:20px;
}