h3, fieldset{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	line-height: 1;
}

h3 {
	font:13px Arial, sans-serif;
	font-weight: 600;
	color: #505050;
	margin-bottom: 7px;
}

h3 img{
	vertical-align: bottom;
	display:inline-block;
	margin-right:3px;
}

#wrapper, nav, nav label, form, #imageWrapper, #largeTextarea, .line-select,
 .line-quantity input, .line-quantity-arrows, .dimension-select, .checkbox-wrapper, 
 .tag-wrapper, .form3-tagsLabel, .gobletWrapper, .gobletWrapper-choose, .line-select-options,
 .dimension-select-options, .goblet-tip, #loadWrapper, .next, .previous, .next-angle,
 .previous-angle{
	box-sizing:border-box;
}

#wrapper{
	width:472px;
	margin:20px auto;
}

nav{
	position:relative;
	height:40px;
	width:471px;
	border:1px solid #2a5792;
	text-align:left;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	overflow:hidden;
	box-shadow: 0 6px 6px -2px #8c969f;
	z-index:10;	
}

nav label{
	display:inline-block;
	position:relative;
	width:130px;
	height:38px;
	color:#1b4680;
	font:12.5px/38px Arial, sans-serif;
	padding-left:22px;
	background-image: -webkit-linear-gradient(#81bae8, #4983ca);
    background-image:    -moz-linear-gradient(#81bae8, #4983ca);
    background-image:     -ms-linear-gradient(#81bae8, #4983ca);
    background-image:      -o-linear-gradient(#81bae8, #4983ca);
	background-image:      	  linear-gradient(#81bae8, #4983ca);
}

nav label:hover{
	cursor:pointer;
}
nav label:not(:first-of-type){
	margin-left:-5px;
}

nav label:first-of-type{
	width:100px;
	padding-left:8px;
}

nav label:last-of-type{
	width:112px;
}

.nav-checkbox{
	display:none;
}

label img{
	display: inline-block;
	vertical-align: bottom;
	position:relative;
	top:-8px;
}

nav label:not(:last-of-type) span{
	position:absolute;
	width:30px;
	height:30px;
	top:3px;
	right:-11px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;	
	border-top:1px solid #2a5792;
	border-right:1px solid #2a5792;		
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	z-index:100;
	overflow:hidden;
}

nav label:not(:last-of-type) span::after{
	content:"";
	position:absolute;
	width:30px;
	height:38px;
	left:10px;
	bottom:5px;
	transform: rotate(-45deg);	
	background-image: -webkit-linear-gradient(#81bae8, #4983ca);
    background-image:    -moz-linear-gradient(#81bae8, #4983ca);
    background-image:     -ms-linear-gradient(#81bae8, #4983ca);
    background-image:      -o-linear-gradient(#81bae8, #4983ca);
	background-image:      	  linear-gradient(#81bae8, #4983ca);
}

input[type="radio"]:checked + label{
	color:white;
	background-image: -webkit-linear-gradient(#62a2d6, #3668a6);
    background-image:    -moz-linear-gradient(#62a2d6, #3668a6);
    background-image:     -ms-linear-gradient(#62a2d6, #3668a6);
    background-image:      -o-linear-gradient(#62a2d6, #3668a6);
	background-image:      	  linear-gradient(#62a2d6, #3668a6);
}

input[type="radio"]:checked + label[for^="checkbox-"] span::after{
	background-image: -webkit-linear-gradient(#62a2d6, #3668a6);
    background-image:    -moz-linear-gradient(#62a2d6, #3668a6);
    background-image:     -ms-linear-gradient(#62a2d6, #3668a6);
    background-image:      -o-linear-gradient(#62a2d6, #3668a6);
	background-image:      	  linear-gradient(#62a2d6, #3668a6);
}
.formWrapper{
	position:relative;
	width:435px;
	height:100%;
	margin-top:-4px;
	border:1px solid #9099a2;
	border-top:none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #e9e9e9;
	padding:23px 17px 17px 17px;			

}

#imageWrapper{
	float: left;
	width:102px;
	height:142px;
	padding:5px;
	background: #6fa8de;
	border:1px solid #8c969f;
	-webkit-box-shadow: inset 0 0 0 5px #fff;
	-moz-box-shadow: inset 0 0 0 5px #fff;
	box-shadow: inset 0 0 0 5px #fff;
}

#imageWrapper img{
	display:block;
	margin:3px auto 0 auto;
	width:74px;
	height:131px;
}

#imageWrapper input[type="file"]{
	display:none;
}

#imageWrapper label{
	height:20px;
	width:102px;
	display:block;
	position: absolute;
	margin-left:1px;
	margin-top:1px;
	font:12px/20px Arial, sans-serif;
	color:#fff;	
	text-align:center;
	cursor:pointer;
	background-image: -webkit-linear-gradient(#77b1e3, #548dd1);
    background-image:    -moz-linear-gradient(#77b1e3, #548dd1);
    background-image:     -ms-linear-gradient(#77b1e3, #548dd1);
    background-image:      -o-linear-gradient(#77b1e3, #548dd1);
	background-image:      	  linear-gradient(#77b1e3, #548dd1);
}

#imageWrapper #loadWrapper{
	position: relative;
	margin-left:-7px;
	margin-top:7px;
	width:104px;
	height:22px;
	background-image: -webkit-linear-gradient(#5699ce, #2c5a93);
    background-image:    -moz-linear-gradient(#5699ce, #2c5a93);
    background-image:     -ms-linear-gradient(#5699ce, #2c5a93);
    background-image:      -o-linear-gradient(#5699ce, #2c5a93);
	background-image:      	  linear-gradient(#5699ce, #2c5a93);
}

#imageWrapper, #imageWrapper label, #loadWrapper{		
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.firstForm-fieldset{
	display:block;
	margin-left: 110px;
}

.firstForm-fieldset input,.firstForm-fieldset textarea, #largeTextarea{
	width:325px;
	position:relative;
	font:11px Arial,sans-serif;
	color: #6b6b6b;
	border:1px solid #8c969f;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;	
	-webkit-box-shadow: inset 0 0 3px 1px #ccc;
	-moz-box-shadow: inset 0 0 3px 1px #ccc;
	box-shadow: inset 0 0 3px 1px #ccc;
	box-sizing:border-box;
	
}

.firstForm-fieldset input + label,.firstForm-fieldset textarea + label, #largeTextarea + label{
	display:inline-block;
	position:relative;
	width:0;
	height:0;
}

.firstForm-fieldset input + label::before{
	content: "";
	position: absolute;
	left: -18px;
	top:6px;
	font-size: 23px;
	color: rgb(238, 238, 238);
	width:18px;
	height:18px;
}

.firstForm-fieldset textarea + label,#largeTextarea + label{
	display:block;
}

.firstForm-fieldset textarea + label::after{
	content: "";
	position: absolute;
	left: 307px;
	top:-21px;
	font-size: 23px;
	color: rgb(238, 238, 238);
	width:18px;
	height:18px;
	margin:0;
	padding:0;
}

#largeTextarea + label::after{
	content: "";
	position: absolute;
	left: 395px;
	top:-43px;
	font-size: 23px;
	color: rgb(238, 238, 238);
	width:40px;
	height:40px;	
}

.firstForm-fieldset input{
	height:30px;
	margin-bottom: 7px;
	padding:0 8px 0 8px;	
}

.firstForm-fieldset textarea{
	height:94px;
	resize:none;
	padding:8px 8px 16px 8px;
	overflow:hidden;

}

.firstForm-fieldset input:focus::-webkit-placeholder, textarea:focus::-webkit-placeholder{
	color: transparent;
}

.firstForm-fieldset input:focus::-ms-placeholder, textarea:focus::-ms-placeholder{
	color: transparent;
}

.firstForm-fieldset input:focus::-moz-placeholder, textarea:focus::-moz-placeholder{
	color: transparent;
}

#largeTextarea{
	margin:9px 7px 0 0;
	padding:8px 8px 16px 8px;
	height:99px;
	width:100%;
	resize:none;
	overflow:hidden;
}
.previous, .next{
	position:relative;
	background: #a4cdee;
	width:80px;
	height:22px;
	text-align:center;
	cursor:pointer;
	border:1px solid #579bcf;
	border-bottom:1px solid #295691;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.previous-angle{
	position:absolute;
	left:-11px;
	top:-1px;
	width:12px;
	height:22px;
	overflow:hidden;
}

.previous span, .next span{
	font:12px/21px Arial, sans-serif; 
	color:white;
	display:block;
	width:79px;
	height:19px;
	margin-top:1px;
	line-height:19px;
	background-image: -webkit-linear-gradient(#81bae7, #4d87cd);
    background-image:    -moz-linear-gradient(#81bae7, #4d87cd);
    background-image:     -ms-linear-gradient(#81bae7, #4d87cd);
    background-image:      -o-linear-gradient(#81bae7, #4d87cd);
	background-image:      	  linear-gradient(#81bae7, #4d87cd);
	border-sizing:border-box;
}

.next{
	float:right;
	margin:12px 0 -5px;
	right:11px;
	border-right:none;
}

.next-angle{
	position:absolute;
	right:-11px;
	top:-1px;
	width:12px;
	height:22px;
	overflow:hidden;
	background:transparent;
}

.next-angle::after{
	content: "";
	position:absolute;
	right:4px;
	top:3px;
	width:17px;
	height:17px;
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	transform:rotate(45deg);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;	
	border:1px solid #4d7cac;
	background-image: -webkit-linear-gradient(#81bae7, #4d87cd);
    background-image:    -moz-linear-gradient(#81bae7, #4d87cd);
    background-image:     -ms-linear-gradient(#81bae7, #4d87cd);
    background-image:      -o-linear-gradient(#81bae7, #4d87cd);
	background-image:      	  linear-gradient( to right bottom, #81bae7, #4d87cd);
	box-sizing:border-box;
	cursor:pointer;
}

.clearfix{
	display:block;
	content:"";
	height:0;
	width:0;
	clear:both;
}
