#black {
  font: 45px/1em Verdana;
  margin: 16px;
}
.inner, .inner::after {
  text-transform: uppercase;
  color: #000;
  padding: 1px 1px 1px 14px;
  border: 1px solid #000;
  display: inline-block;
}
.inner::after {
  content: "white";
  color: #fff;
  padding: 24px 10px 7px 2px;
  background: #000;
  display: inline-block;